*{
   
    left: 0;
    top: 0;
    margin: 0;
}
body{
	text-align: center;	
}

header{
	font-family: Century Gothic;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(bg7.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;

}
.section1{
	font-family: Century Gothic;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.3s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
}
.para{
	position: absolute;
	top: 65%;
	color: #fff;
	left: 50%;
	transform: translate(-50%,-50%);
}
#section2{
	margin: 0;
	padding: 0;
	font-family: 'lato', sans-serif;
	background-image: url(../bg6.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}
.login_container{
	position: relative;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
}
.login_box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(bg6.jpg);
	background-size: cover;
	padding: 40px;
	border-radius: 0;
	box-shadow: 0 15px 25px rgba(0,0,0,0.9);
}
.login_box h2{
	margin: 0 0 30px;
	color: #fff;
	letter-spacing: 4px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
.login_box .user_box{
	position: relative;
}
.login_box .user_box input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background-color: transparent;
}
.login_box .user_box label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}

.login_box .user_box input:focus ~ label,
.login_box .user_box input:valid ~ label{
	top: -20px;
	color: #03e9f4;
	font-size: 12px;
}
.login_box form a{
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	margin-top: 20px;
	letter-spacing: 4px;
	background-color: #03e9f4;
	border: 1px solid #03e9f4;
}
.login_box form a:hover{
	background-color: #03e9f4;
	color: #fff;
	box-shadow: 0 0 05px #03e9f4,
	            0 0 25px #03e9f4,
	            0 0 50px #03e9f4,
	            0 0 100px #03e9f4;
}
